https://.:443 {
    bind 127.0.0.1
    unbound {
       option root-hints ../../testdata/signedroot.hints
       option verbosity 3
       option val-log-level 2
       option val-permissive-mode yes
       option domain-insecure exampla.xa.
       option harden-below-nxdomain no
       option harden-dnssec-stripped no
       option harden-referral-path no
       option harden-algo-downgrade no
       option aggressive-nsec no
       option disable-dnssec-lame-check no
       option module-config iterator
    }
    log
    tls /etc/ssl/certs/ssl-cert-snakeoil.pem /etc/ssl/private/ssl-cert-snakeoil.key
}

.:53 {
    bind 127.0.0.1
    unbound {
       option root-hints ../../testdata/signedroot.hints
       option verbosity 3
    }
    log
}

. {
    bind 127.1.0.3
    bind fda1:b2:c3::127:1:0:3
    file ./../../testdata/.zone.trimmed .
    file COMMON/arpa arpa
}

# ns1.xa:
xa. {
    bind 127.2.0.15
    bind fda1:b2:c3::127:2:0:15
    file ../../testdata/xa.zone.trimmed xa ns1.xa example.xa ns1.example.xa

    template IN ANY xa. {
        import testdata/xa.coredns.cfg
    }
}

import testdata/dnssec-alg.cfg
import testdata/example.cfg

import zonemaster/test-zone-data/main.cfg